@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.card {
    width: 400px;
    padding: 20px;
}

.google button {
    width: 100%;
    background-color: rgba(190, 190, 190, 0.06);
    /* color: #ffffff; */
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    outline: none;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

.google button svg {
    width: 34px;
    height: 34px;
    float: left;
}

.border p {
    text-align: center;
    margin: 10px 0;
    position: relative;
    color: #687FAC;
}

.border p::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: #687FAC;
    top: 13px;
    left: 10px;
}

.border p::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: #687FAC;
    right: 10px;
    top: 13px;
}

.card .inputBox {
    width: 100%;
    margin-top: 10px;
}

.card .inputBox input {
    width: 100%;
    border: none;
    outline: none;
    color: #8CA8DC;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.7px;
    margin: 5px 0;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 5px;
}

.card .inputBox input:focus {
    color: #ffffff;
}

.btnBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}

.btnBox p {
    color: #687FAC;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

.btn {
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    background-color: #0161FE;
    color: #ffffff;
    outline: none;
    transition: 0.3s ease-in;
}

.btn:hover {
    background-color: #004eca;
}